language: go
sudo: required
services:
  - docker
branches:
  only:
  - master

before_install:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

jobs:
  include:
    - stage: test
      script: ./scripts/test.sh
    - stage: build
      script: PUSH=yes ./scripts/build-and-push.sh
